In [4]:
# 네트워크 분석을 지원하는 networkx, pydot 모듈을 설치해야 함.
# conda install -c anaconda networkx
# pip install pydot
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx
# import pydot
%matplotlib inline

# 폰트 문제 해결하기
import platform

path = "c:/Windows/Fonts/malgun.ttf"
from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

In [7]:
# 구글 설문 데이터를 불러옴.
data = pd.read_excel("Satisfaction.xlsx")
data.head()

   First  Second  Third  age  Unnamed: 4  q14
0     13       1     99    4         NaN    3
1      2       1     21    3         NaN    4
2     16      99     99    2         NaN    5
3     10       2      1    1         NaN    4
4      1       2     21    1         NaN    5

In [8]:
# 설문에 참여를 참여를 안 한 열을 제거함.
data = data.dropna(axis=1) # axis =1 열을 기준으로 삭제
data.head()

   First  Second  Third  age  q14
0     13       1     99    4    3
1      2       1     21    3    4
2     16      99     99    2    5
3     10       2      1    1    4
4      1       2     21    1    5

In [2]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms

In [19]:
from sklearn import preprocessing

col=['First']
x=data[col].values
col2=['age']
y=data[col2].values

In [21]:
x

array([[13],
       [ 2],
       [16],
       ...,
       [ 1],
       [16],
       [ 1]], dtype=int64)

In [23]:
# model_boston2라는 이름으로 OLS 모델 구조화
linear_regression = sm.OLS(x, y) # (종속변수, 독립변수)

# OLS 회귀모형 피팅
result = linear_regression.fit()

# 회귀분석 결과 요약
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.365
Model:                            OLS   Adj. R-squared:                  0.365
Method:                 Least Squares   F-statistic:                     6903.
Date:                Fri, 01 Jun 2018   Prob (F-statistic):               0.00
Time:                        19:03:42   Log-Likelihood:                -47165.
No. Observations:               12003   AIC:                         9.433e+04
Df Residuals:                   12002   BIC:                         9.434e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             3.9990      0.048     83.083      0.000       3.905       4.093
==============================================================================
Omnibus:                     9931.825   Durbin-Watson:                   1.794
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           349500.692
Skew:                           3.800   Prob(JB):                         0.00
Kurtosis:                      28.319   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.